
 
 .container{
    background-color: #333333   ;
}

.fondo{
    background: linear-gradient(145deg,#252525d3, #02040ac4  );
    box-shadow: rgba(188, 217, 255, 0.096) 0px -2px 4px, rgb(23, 19, 48) 0 4px 15px -10px, #b6f50a00 0 -3px 0 inset;
   
}

 .main-container {   
   border-radius: 10px;
   margin-top: 10%;
   margin-bottom: 10%;
   margin-left: 10%;
   margin-right: 10%;
   width: 900px;
   height: 320px;
  }



.imput{
    border-radius: 5px;
    width: 865px;
    height: 40px;
    background: linear-gradient(145deg,#1b1a1aec, #000102c4  );
    margin-top: 12px;
    margin-left: 15px;
    margin-bottom: 7px;
    border: 2px solid rgba(251, 251, 252, 0.164) ;
    border-radius: 5px;
    
}

.flex{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*style botones numericos*/

   .botoncito {
    align-items: center;
    appearance: none;
    background: linear-gradient(145deg,#303030d3, #02040ac4  );
    border-radius: 10px;
    box-shadow: rgba(188, 217, 255, 0.096) 0px -2px 4px, rgb(23, 19, 48) 0 4px 15px -10px, #b6f50a00 0 -3px 0 inset;
    color: #b1b1b1;
    cursor: pointer;
    display: inline-flex;
    border: none;
    width: 120px;
    height: 100px;
    justify-content: center;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition:.15s,.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    font-size: 50px;
    font-family: comic system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }

   .botoncito:hover {
    transform: translateY(-1px);
   }

   .botoncito:active {
    transition: all 50ms;
    box-shadow: rgba(62, 62, 70, 0.486) 0 3px 5px inset;
    transform: translateY(1px);
    opacity: 70%;
    color: #b1b1b1;
}

/* fin style botones numericos*/

/* style boton send*/

.boton-send{
    align-items: center;
    appearance: none;
    background: linear-gradient(145deg, #d2d7dd, #868b91);
    border-radius: 10px;
    box-shadow: rgba(188, 217, 255, 0.096) 0px -2px 4px, rgb(23, 19, 48) 0 4px 15px -10px, #b6f50a00 0 -3px 0 inset;
     color: #B1B1B1;
    cursor: pointer;
    display: inline-flex;
    border: none;
    width: 120px;
    height: 100px;
    justify-content: center;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition:.15s,.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
   
}

.boton-send:hover {
    transform: translateY(-1px);
   }

   .boton-send:active {
    box-shadow: rgba(39, 39, 49, 0.322) 0 3px 7px inset;
    transform: translateY(1px);
    opacity: 80%;
}

/* fin style boton send*/

/* style boton delete*/
    .boton-delete{
        align-items: center;
        appearance: none;
        background: linear-gradient(145deg, #ff943f, #ad642f);
        border-radius: 10px;
        box-shadow: rgba(188, 217, 255, 0.096) 0px -2px 4px, rgb(23, 19, 48) 0 4px 15px -10px, #b6f50a00 0 -3px 0 inset;
        color: #B1B1B1;
        cursor: pointer;
        display: inline-flex;
        border: none;
        width: 120px;
        height: 100px;
        justify-content: center;
        list-style: none;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        transition:.15s,.15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        font-size: 50px;
    }
    
    .boton-delete:hover {
        transform: translateY(-1px);
       }
    
       .boton-delete:active {
        box-shadow: rgba(39, 39, 49, 0.322) 0 3px 7px inset;
        transform: translateY(1px);
    opacity: 80%;
    }
    /* fin style boton delete*/
        
/* detalle botones send/delete */
    .imagenes{
        opacity: 80%
    }


